<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="row content justify-content-center">
    <div class="col-md-4 col-sm-12 text-start">
      <div>

        <div>
          <h2 style="font-size: 50px">Create an account</h2>
        </div>
        <div class="row pt-2">
          <div class="col-1">
            <i class="fa-solid fa-shield signup-icon"></i>
          </div>
          <div class="col-11">
            <span>
              Seacure payments through reliable partners
            </span>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-1 ">
            <i class="fa-solid fa-bolt signup-icon"></i>
          </div>
          <div class="col-11">
            <span>
              Fast transfers
            </span>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-1">
            <i class="fa-solid fa-percent signup-icon"></i>
          </div>
          <div class="col-11">
            <span>
              Fair commissions
            </span>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-1">
            <i class="fa-solid fa-wave-square  signup-icon"></i>
          </div>
          <div class="col-11">
            <span>
              Best available rates
            </span>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-1">
            <i class="fa-solid fa-thumbs-up signup-icon"></i>
          </div>
          <div class="col-11">
            <span>
              Convenience
            </span>
          </div>
        </div>
      </div>
    </div>

    <form [formGroup]="signupCtrl" (submit)="submit()" class="col-md-8 col-sm-12">
      <div class="pt-3">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <div class="material-textfield">
              <input class="input" placeholder="Full Name" type="text" formControlName="fullName" />
              <label class="label"> Full Name</label>
              <span class="input_img" *ngIf="fullNameCtrl.valid">
                <i class="fa-solid fa-check"></i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-3">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <div class="material-textfield">
              <input class="input" placeholder="Email" type="Email" formControlName="email" />
              <label class="label"> Email</label>
              <span class="input_img" *ngIf="emailCtrl.valid">
                <i class="fa-solid fa-check"></i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-3">
        <div class="row">
          <div class="col-md-8 col-sm-12">

            <div class="material-textfield">
              <input class="input" placeholder="Phone Number" type="text" formControlName="phoneNumber" />
              <label class="label"> Phone Number</label>
              <span class="input_img" *ngIf="phoneNumberCtrl.valid">
                <i class="fa-solid fa-check"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-3">
        <div class="row justify-content-start" style="position: relative;">
          <div class="col-md-8 col-sm-12">
            <div class="material-textfield">
              <input (focus)="onFocus()" (blur)="onBlur()" [type]="isHidden? 'password' : 'text'" placeholder="Password"
                class="inp-icon input password" type="password" formControlName="password" />
              <label class="label"> Password</label>
              <span class="input_img" data-role="toggle" (click)="togglePasswordView()">
                <span *ngIf="!isHidden">
                  <i class="fa-solid fa-eye-slash"></i>
                </span>
                <span *ngIf="isHidden">
                  <i class="fa-solid fa-eye"></i>
                </span>
              </span>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 password-details" [ngStyle]="{
            display:
              focus
                ? 'block'
                : 'none'
          }">
            <div class="px-2 pt-1">
              <div class=" py-1" style="font-weight: 600">
                <span *ngIf="score == 0 || score == 20">
                  Very Weak Password
                </span>
                <span *ngIf="score == 40 ||  score == 60">
                  Weak Password
                </span>
                <span *ngIf="score == 80 ">
                  Medium Password
                </span>
                <span *ngIf="score == 100">Strong Password</span>
              </div>
              <div>
                <div class="progress">
                  <div [style.background-color]="progressColor" class="progress-bar" role="progressbar"
                    [style.width]="score +'%'" aria-valuenow="score" aria-valuemin="0" aria-valuemax="6"></div>
                </div>
              </div>
              <div class="pt-1 pb-2">
                <span class="password-info" *ngIf="score == 100">
                  Great! This will do. Just don't forget him
                </span>
                <span class="password-info" *ngIf="score != 100">
                  Password Must Contain
                  <br>
                  1. Upper Character
                  <br>
                  2. Lower Character
                  <br>
                  3. Number
                  <br>
                  4. Special Character
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-3">
        <div class="row">
          <div class="col-8">
            <button class="btn btn-bg w-100" type="submit" [disabled]="signupCtrl.invalid">Sign up</button>
          </div>
        </div>
      </div>

      <div class="pt-3">
        <div class="row">
          <div class="col-8">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="isAgree">
              <label class="form-check-label" for="flexCheckDefault">
                I agree to our Terms of Service and Privacy Policy
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<button class="btn btn-bg w-100" type="button" (click)="showDatePicker()"><i class="fa-solid fa-calendar-days mx-2"></i>Show date picker</button>


<form [formGroup]="datePickerCtrl">
  <div class="date-picker d-flex justify-content-center  align-items-center" [ngClass]="showDate ? 'displayDate' : 'hideDate' "> 
  
    <div class="overlay-inner">
      <div class="d-flex justify-content-center  align-items-center">
        <select class="month" formControlName="month">
          <option  *ngFor="let month of Allmonths" [value]="month.value"  [ngClass]="month.current ? 'current' : '' " [selected]="month.selected">
            <b>
              {{month.label}}
            </b>
            </option>
        </select>
        <select class="year" formControlName="year">
          <option   *ngFor="let year of AllYears" [value]="year.value" [ngClass]="year.current ? 'current' : '' " [selected]="year.selected"><b>
            {{year.label}}
          </b></option>
        </select>
      </div>
      <div>
        <ul style="font-weight: 500;">
          <li>
            Mo
          </li>
          <li>
            Tu
          </li>
          <li>
            We
          </li>
          <li>
            Th
          </li>
          <li>
            Fr
          </li>
          <li>
            Sa
          </li>
          <li>
            Su
          </li>
        </ul>
  
        <ul>
          <li *ngFor="let day of showedDays" [disabled]="day.disabled" [class.disabledDay]=" day.disabled "
            [class.currentDay]=" day.current && currentYear == selectedYear && selectedMonth == currentMonth" [class.selectedDay]=" day.selected && !day.disabled"
            (click)="selectDay(day)"
            >
            {{day.value}}
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-center  align-items-center pt-2">
        <button class="btn btn-light mx-1" type="button" (click)="closeDatePicker()">Cancel</button>
        <button class="btn btn-bg  mx-1" type="button" (click)="submitDateSelection()">Submit</button>
      </div>
  </div>
</div>
</form>